<!-- Interpolation -->
<h1>{{title}}</h1>

<!-- Propoerty binding -->
<h1 [textContent]="title"></h1>

<!-- getters -->
<h1>{{extraTitle}}</h1>

<!-- Event binding -->
<button (click)="changeTitle()">Change</button>

<!-- Signal -->
<h1>{{signalTitle()}}</h1>

<h1 [textContent]="signalTitle()"></h1>

<h1>{{signalGetTitle()}}</h1>

<!-- Input (Parent to child) -->
<h1>{{getParentTitle}}</h1>

<!-- Input Signal (Parent to child) -->
<h1>{{signalGetParentTitle()}}</h1>

<!-- Control flow -->
<ul>
  @for (item of items; track $index) {
  @if($index!==1){
  <li [id]="$index">{{item}}</li>
  }@else {
  <li>--------------</li>
  }
  }
</ul>

<!-- Structural directives -->
<ul>
  <li *ngFor="let item of items;let i=index" [id]="i">
    <span *ngIf="i!==1;else index1">{{item}}</span>
    <ng-template #index1>--------------</ng-template>
  </li>
</ul>

<!-- Two-way binding -->
<input type="text" name="title" [(ngModel)]="title">

<!-- Signal Two-way binding -->
<input type="text" name="title" [(ngModel)]="signalTitle">